<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/stylesheet/style.css">
    <title><%= post.dataValues.title %></title>
</head>
<body>
    <div id="main_form">
        <h1><%= post.dataValues.title %></h1>
        <span><%= post.dataValues.formattedDate %> <%= username %></span>
        <h2><%= post.dataValues.content %></h2>
        
        <% if(comment) { %>
            <% for (let i = comment.length -1; i >= 0; i--) { %>
                <h3><%= comment[i].User.dataValues.username %></h3>
                <h4><%= comment[i].dataValues.content %></h4>
                <span><%= comment[i].dataValues.formattedDate %></span><br><br>
            <% } %>
        <% } %>
    
        <form action="/comment_upload/<%= post.dataValues.id %>" method="post">
            <textarea class="textarea" name="content" required></textarea><br>
            <button type="submit">댓글 달기</button>
        </form>
        <button class="button_2" onclick="location.href='/'">글목록</button>
    </div>
</body>
</html>